<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.eyesopen">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>
    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <uses-permission
        android:name="android.permission.INTERNET"
        tools:remove="android:maxSdkVersion" />
    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        tools:remove="android:maxSdkVersion" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EyesOpen">
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name=".firstmode"
            android:exported="true" />
        <activity
            android:name=".guidebookpage"
            android:exported="false" />
        <activity
            android:name=".secondmode"
            android:exported="false" />
        <activity
            android:name=".CameraView"
            android:exported="false" />
        <activity
            android:name=".main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>